<header class="annotation-header">
  <!-- User -->
  <span ng-if="vm.user()">
    <!-- LEOS Changes: Added style to disable link -->
    <a title="{{vm.displayName()}}" class="annotation-header__user"
       target="_blank"
       ng-if="!vm.isThirdPartyUser()"
       ng-href="{{vm.serviceUrl('user',{user:vm.user()})}}"
       style="pointer-events: none;cursor: default;"
    >{{vm.displayName()}}</a>
    <!-- LEOS Changes: Added style to disable link -->
    <a title="{{vm.displayName()}}" class="annotation-header__user"
       target="_blank"
       ng-if="vm.isThirdPartyUser() && vm.thirdPartyUsernameLink()"
       href="{{ vm.thirdPartyUsernameLink() }}"
       style="pointer-events: none;cursor: default;"
    >{{vm.displayName()}}</a>
    <span title="{{vm.displayName()}}" class="annotation-header__user"
          ng-if="vm.isThirdPartyUser() && !vm.thirdPartyUsernameLink()"
    >{{vm.displayName()}}</span>
    <span class="annotation-collapsed-replies">
      <a class="annotation-link" href=""
         ng-click="vm.onReplyCountClick(); $event.stopPropagation();"
         ng-pluralize count="vm.replyCount"
         when="{'0': '', 'one': '1 reply', 'other': '{} replies'}"></a>
    </span>
    <br>
  </span>

  <span class="annotation-header__entity">&nbsp;(</span>
  <span title="{{vm.entityName()}}" ng-if="vm.entityName()" 
          class="annotation-header__entity"
          >{{vm.entityName()}}</span>
  <span class="annotation-header__entity">)&nbsp;</span>
  <span class="annotation-header__timestamp">(</span>
  <timestamp
    class-name="'annotation-header__timestamp'"
    timestamp="vm.updated()"
    href="vm.htmlLink()"
    style="pointer-events: none;cursor: default;"
    ng-if="!vm.editing() && vm.updated()"></timestamp>
  <span class="annotation-header__timestamp">)</span>

</header>
