<div
    class="publish-annotation-btn__dropdown-container dropdown-menu pull-left group-list publish-annotation-btn__dropdown-menu">
    <div class="publish-annotation-btn__dropdown-scrollcontainer">

        <ul class="" role="menu">
            <li class="dropdown-menu__row" ng-click="vm.setPrivacy('shared')" ng-repeat="group in vm.groups"  ng-if="group.id!=vm.originGroup||!vm.isforward">
                <div class="group-item" ng-click="vm.updateSelectedGroup({group: group})">
                    <div class="group-icon-container">
                        <i class="small" ng-class="'h-icon-' + vm.groupCategory(group)"></i>
                    </div>
                    <div class="group-details">
                        <div class="group-name-container">
                            <a href="" class="group-name-link" ng-bind="group.name"></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown-menu__row" ng-click="vm.setPrivacy('private')" ng-show="vm.isAuthorityVisible()">
                <div class="group-item">
                    <div class="group-icon-container">
                        <i class="small h-icon-lock"></i>
                    </div>
                    <div class="group-details">
                        <div class="group-name-container">
                            <a href="" class="group-name-link" ng-bind="vm.privateLabel"></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="publish-annotation-btn__dropdown-arrow pull-left"></div>