<div dropdown="" class="publish-annotation-btn__btn" is-open="vm.showDropdown" keyboard-nav>
  <dropdown-menu-btn label="!vm.hasDropdown() ? 'Post' : 'Post to ' + vm.publishDestination()" on-click="vm.onSave()"
    on-toggle-dropdown="vm.showDropdown = !vm.showDropdown"
    title="Publish this annotation to {{vm.publishDestination()}}"
    dropdown-menu-label="Change annotation sharing setting" is-disabled="!vm.canPost"
    is-reply="vm.isReply">
  </dropdown-menu-btn>
</div>
<button class="publish-annotation-cancel-btn btn-clean" ng-click="vm.onCancel(); $event.stopPropagation();"
  title="Cancel changes to this annotation">
  <i class="h-icon-cancel-outline publish-annotation-cancel-btn__icon btn-icon"></i> Cancel
</button>
<div ng-if="!vm.isReply" class="publish-annotation-btn__dropdown-anchor" >
  <dropdown-menu on-set-privacy="vm.setPrivacy(level)"
                  groups="vm.getAllGroups()"
                  private-label="vm.privateLabel"
                  on-update-selected-group="vm.updateSelectedGroup(group)"
                  settings="vm.settings"
                  ng-if="vm.showDropdown"
                  group="vm.group"
                  isforward="vm.isforward"
                  origin-group="vm.originGroup"
                 ></dropdown-menu>
</div>
