<div class="leos-selection-pane">
	<div class="leos-selection-pane__grid">
		<span class="leos-selection-pane__label">Click on annotation to select several or</span>
		<div class="leos-selection-pane__flexbox">
			<button class="leos-selection-pane__button"
					ng-click="vm.selectAllFilteredActionableAnnotations()"
					ng-disabled="vm.isSelectAllDisabled()">Select all</button>
			<button class="leos-selection-pane__button"
					ng-click="vm.deselectAll()"
					ng-disabled="vm.isDeselectAllDisabled()">Deselect all</button>
		</div>
	</div>
	<div class="leos-selection-pane__info">
  	<span ng-if="vm.selectedAnnotationCount() > 0">
        {{vm.selectedAnnotationCount()}}
        <ng-container ng-if="vm.filterActive || vm.selectedTab === vm.TAB_ANNOTATIONS">annotation</ng-container><ng-container
			ng-if="!vm.filterActive && vm.selectedTab === vm.TAB_NOTES">note</ng-container><ng-container
			ng-if="!vm.filterActive && vm.selectedTab === vm.TAB_ORPHANS">orphan</ng-container><ng-container
			ng-if="vm.selectedAnnotationCount() !== 1">s</ng-container>
        selected
        <ng-container ng-if="vm.filterActive"
					  ng-pluralize
					  count="vm.filterMatchCount"
					  when="{'0': '',
                'one': 'out of 1 filtered result',
                'other': 'out of {} filtered results'}"></ng-container>
      </span>
		<span ng-if="vm.selectedAnnotationCount() === 0">
        <ng-container
				ng-if="vm.filterActive"
				ng-pluralize
				count="vm.filterMatchCount"
				when="{'0': '',
                'one': 'from 1 filtered result',
                'other': 'from {} filtered results'}"></ng-container>
      </span>
	</div>
	<div class="leos-selection-pane__grid leos-selection-pane__actions-section">
		<div class="leos-selection-pane__action-label">
			Actions on selected annotations
		</div>
		<div class="leos-selection-pane__flexbox">
			<button class="leos-selection-pane__button"
					ng-click="vm.accept()"
					ng-disabled="vm.isAcceptAndRejectDisabled()"
					ng-if="vm.areExtendedActionsShown()"
					title="Accept selected suggestions">Accept</button>
			<button class="leos-selection-pane__button"
					ng-click="vm.reject()"
					ng-disabled="vm.isAcceptAndRejectDisabled()"
					ng-if="vm.areExtendedActionsShown()"
					title="Reject selected suggestions">Reject</button>
			<button class="leos-selection-pane__button"
					ng-click="vm.delete()"
					ng-disabled="vm.isDeleteDisabled()"
					title="Delete selected annotations">Delete</button>
			<button class="leos-selection-pane__button"
					ng-click="vm.treat()"
					ng-disabled="vm.isTreatDisabled()"
					ng-if="vm.areExtendedActionsShown()"
					title="Treat selected annotations">Mark as processed</button>
			<button class="leos-selection-pane__button"
					ng-click="vm.reset()"
					ng-disabled="vm.isResetDisabled()"
					ng-if="vm.areExtendedActionsShown()"
					title="Reset selected annotations">Mark as not processed</button>
		</div>
	</div>
</div>
