<div class="annotation-leos-actions">
    <button class="suggestion-merge-action"
            title="{{vm.getAcceptTitle()}}"
            ng-show="vm.showButtons()"
            ng-disabled="vm.isAcceptDisabled()"
            ng-click="vm.accept(); $event.stopPropagation();"
            h-branding="ctaTextColor, ctaBackgroundColor">Accept</button>
    <button class="publish-annotation-cancel-btn btn-clean"
            title="{{vm.getRejectTitle()}}"
            ng-show="vm.showButtons()"
            ng-disabled="vm.isRejectDisabled()"
            ng-click="vm.reject(); $event.stopPropagation();">Reject</button>
</div>
